@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.favorite {
  margin-top: 20px;
}

.voted {
  opacity: 0.5;
}

#user_remember_me {
  position: absolute;
  left: 130px;
}